python-dotenv~=1.0
web3>=5.27.0  # или более новая версия
cryptography>=38,<40 # пример диапазона
app>=0.0.1   # замените на вашу версию
celery>=5.3.0 # пример
flask_script>=2.0.6
flask_marshmallow>=0.14.0
forex_python>=1.1.0
email_validator>=2.2.0
alembic>=1.10.2
pip_tools>=7.4.1 # установилась версия
Flask>=2.3.2
Flask-SQLAlchemy>=3.0.4
Flask-Migrate>=3.4.0
SQLAlchemy>=2.0.20
psycopg2-binary>=2.9.7
Flask-Login>=0.6.3
Flask-Mail>=0.9.1
Flask-Cors>=3.0.11
marshmallow>=3.19.0